.flex {
  display: flex;
  justify-content: space-between;
}




.title {
  color: navy;
  margin-top: 20px;
  margin-left: 30px;

  font-size: 30px;
}


.nav ul li {

  display: inline-block;
  color: navy;
  margin-right: 10px;
  padding-right: 10px;

  margin-top: 20px;

}

img {
  position: absolute;

  width: 50%;
  height: 60%;

  margin-right: 0;
  margin-left: auto;
  display: block;

  top: 130px;
  right: 0px;

  z-index: 10;



}

.box {

  position: relative;

  width: 75%;
  height: 150px;
  background: navy;

  top: 350px;
  left: 0px;

  z-index: 0;

  margin-left: 0;

}




.text {
  position: absolute;

  margin-left: 0;



  top: 340px;
  left: 0px;



  font-size: 60px;
}